* {
    font-family: Mulish;
    background: var(--background-color);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: flex;
    background: #051622;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.header {
    width: 30vwpx;
    height: 183px;
    position: relative;
    text-align: center;
}

.title {
    color: #1BA098;
    font-size: 65px;
    font-weight: 400;
    word-wrap: break-word
}

.subtitle {
    color: #1BA098;
    font-size: 43px;
    font-weight: 400;
    word-wrap: break-word;
}

.login-items {
    width: 33vw;
    height: 66vh;
    box-shadow: 4px 4px 10px 5px rgba(202.94, 202.94, 202.94, 0.49);
    border-radius: 15px;
    border: 5px #DEB992 solid;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}

.logo {
    width: 168px;
    height: 168px;
}


.username {
    color: rgba(27, 160, 152, 0.75);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    text-align: center;
    padding-top: 5vh;
}


.password {
    color: rgba(27, 160, 152, 0.75);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    padding-top: 5vh;
}

.spacing-username {
    width: 100%;
    height: 0px;
    border: 3px white solid;
    border-radius: 20px;
}

.spacing-password {
    width: 100%;
    height: 0px;
    border: 3px white solid;
    border-radius: 20px;
}


.input_box {
    color: rgba(27, 160, 152, 0.75);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    border: none;
    outline: none;
    text-align: center;
}

.error-msg {
    color: red;
    font-size: 20px;
    border: solid 1px red;
    width: 100%;
    margin: 5vh 0;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.222);
    padding: 2px;
}

.error-msg[hidden] {
    visibility: hidden;
    display: block !important;
  }

.login-btn {
    width: 160px;
    height: 52px;
    padding: 0px 55px 0px 53px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid #1BA098;
    color: white;
}